.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 101;
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    min-width: 500px;
    justify-content: center;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 14px;
    border-radius: 4px;
    color: black;
}

.container h4{
    font-size: 18px;
    font-weight: 400;
}

.customSelect{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 10px;
    padding: 2px;
}

.customSelect label{
    font-size: 19px;
    font-weight: 600;
    text-decoration: underline;
}

.customSelect select {
    /* appearance: none;
    -webkit-appearance: none; */
    padding: 4px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}


.container button{
    background-color: #2275AA;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 2px;
    margin: 0;
    align-self: center;
}

.container button:hover {
    background-color: #76C5EC;
    color: black;
    cursor: pointer;
}

.container span{
    position: absolute;
    display: flex;
    top: 2px;
    right: 2px;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #373866;
}