.formularioVehiculos{
    width: 540px;
    align-self: center;
    border: 2px solid black;
    padding: 16px;
    margin-bottom: 96px;
    background-color: rgb(255, 255, 255, 0.6);
}

.formularioVehiculos form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    width: 100%;
}

.texto{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 10px;
    padding: 0;
}

.texto input{
    width: 65%;
    font-size: 19px;
    padding: 3px;
}

.error{
    width: 50%;
    box-sizing: border-box;
    min-height: 8px;
}

.error p{
    color: red;
    margin: 0;
    font-size: 16px;
    text-align: start;
    margin-bottom: 8px;
}

.descripcionSection{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.descripcionInput{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    padding-left: 8px;
}

.descripcionInput textarea{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 4px;
    font-size: 19px;
}

.digitos{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.digitos fieldset{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.digitos input{
    width: 20%;
    padding: 3px;
    text-align: center;
}

.digitos input::-webkit-inner-spin-button,
.digitos input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.radioAut{
    display: flex;
    width: 50%;
    margin: 0;
}

.radioAut fieldset{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    justify-content: center;
}

.radioAut p{
    margin: 0;
    padding: 3px;
    font-weight: 500;
    font-size: 19px;
}

.radioAut label{
    padding: 3px 3px 3px 0;
}

.radioAut input{
    width: 17px;
}

.radio input{
    width: 17px;
}

.radio{
    display: flex;
    width: 100%;
    margin: 0;
}

.radio fieldset{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    justify-content: center;
}

.radio p{
    margin: 0;
    padding: 3px;
    font-weight: 500;
    font-size: 19px;
}

.radio label{
    padding: 3px 3px 3px 0;
}

.archivos{
    width: 50%;
    display: flex;
    box-sizing: border-box;
    margin: 8px;
}

.archivos label{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px dashed black;
    gap: 10px;
    cursor: pointer;
}

.archivos input{
    display: none;
}

.controlImagenes{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 4px;
}

.controlImagenes div{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    gap: 4px;
}

.controlImagenes p{
    margin: 0;
    overflow: hidden;    
    text-overflow: ellipsis;
}

.controlImagenes i{
    align-self: center;
    cursor: pointer;
}

.spinnerDiv{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

/*********************************************************************/

.customSelect{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 10px;
    padding: 2px;
    border: 1px solid black;
}

.customSelect select {
    appearance: none;
    -webkit-appearance: none;
    width: 67%;
    padding: 3px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500;
}


/************************************************************************/
.formularioVehiculos fieldset{
    border: 1px solid black;
    padding: 2px;
}

.formularioVehiculos label{
    font-weight: 500;
    font-size: 19px;
}

.formularioVehiculos input{
    font-weight: 500;
    font-size: 19px;
}

.formularioVehiculos button{
    align-self: center;
    margin: 16px;
    padding: 8px 16px;
    font-size: 21px;
    font-weight: 500;
    background-color: #e1dfdf;
}

.formularioVehiculos button:hover{
    background-color:rgb(187, 184, 184);
}
