*{
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: white;
  padding-top: 140px;
  background-image: var(--imagen-fondo);
  background-size: 100%;
  background-position: initial;
  background-repeat: repeat-y;
}


@media (max-width:768px) {
  
  #root{
    padding-top: 80px;
  }
}