
:root {
  --imagen-fondo: url('/Images/bg_gris2.jpg');
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;
}

body {
  width: 100vw;
  margin: 0;
  display: flex;
  min-width: 410px;
  min-height: 100vh;
}
