.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    background-image: var(--imagen-fondo);
    background-size: 100%;
    background-position: initial;
}

.container h1 {
    margin: 140px 0 90px;
    font-size: 38px;
    color: #373866;
    user-select: none;

}

.panel {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 62px;
}

.navegaciones {
    display: flex;
}

.navegaciones button {
    background-color: #2275aa;
    color: white;
    width: 205px;
    height: 75px;
    border-radius: 4px;
    font-size: 19px;
    font-weight: 600;
    border: none;
    z-index: 1;
}

.navegaciones button:hover {
    background-color: #094063;
}

.oculto {
    display: none;
}

/******************** media *******************/

@media (max-width: 1024px) {
    .container {
        display: none;
    }

    .oculto {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        padding: 200px 16px;
    }
}