.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    background-image: var(--imagen-fondo);
    background-size: 100%;
    background-position: initial;
}

.navegacion{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 3%;
}

.contenedor h2{
    margin: 0 0 24px;
}

.oculto{
    display: none;
}


/******************** media *******************/

@media (max-width: 1024px) {
    .contenedor{
        display: none;
    }
    .oculto{
        display:flex;
        box-sizing: border-box;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        padding: 200px 16px;
    }
}