.itemId{
    width: 15.2%;
    margin: 0;
    border: 1px solid black;
    padding: 2px 0;
    box-sizing: border-box;
    
}

.nombreItem{
    width: 40.1%;
    padding: 2px 0; 
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.acciones{
    display: flex;
    justify-content: center;
    width: 45%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 2px 4px;
}

.acciones h4{
    text-decoration: underline;
    color: rgb(6, 6, 187);
    margin: 0;
    cursor: pointer;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
