.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    color: black;
    background-image: var(--imagen-fondo);
    background-size: 100%;
    background-position: initial;
}

.navegacion{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 3%;
}

.contenedor h2{
    margin: 0 0 24px;
}

.oculto{
    display: none;
}

.contenedor article{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 1024px;
    width: 90%;
    border: 2px solid black;
    padding: 16px;
    margin-bottom: 32px;
    cursor: default;
    background-color: rgb(255, 255, 255, 0.6);
}

.caracteristicas{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
    border-bottom: none;
    background-color: #e1dfdf;
}

.caracteristicas h4{
    margin: 0;
    border: 1px solid black;
    padding: 4px 0;
    font-size: 20px;
}

.contenedor ul{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-top: none;
}

.contenedor ul li{
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
    padding: 0;
}

.contenedor ul li h4{
    font-weight: 600;
    font-size: 19px;
}


/******************** media *******************/

@media (max-width: 1024px) {
    .contenedor{
        display: none;
    }
    .oculto{
        display:flex;
        box-sizing: border-box;
        justify-content: center;
        height: 80vh;
        padding: 150px 16px;
    }
}