.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: background .2s ease;
}

.container section{
    position: relative;
    width: 500px;
    max-width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgb(0, 0, 0,.9);
    transition: height .2s ease, opacity .4s ease;
}

.container section img{
    position: absolute;
    opacity: .3;
    width: 100px;
}

.container h4{
    margin: 0;
    font-weight: 600;
}
.container section p{
    margin: 0;
    font-weight: 600;
}

.buttons{
    align-self: flex-end;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.buttons button{
    cursor: pointer;
    border: none;
    cursor: pointer;
    box-sizing: content-box;
    background-color: white;
    font-weight: 700;
    color: #373866;
    font-size: 16px;
}

.buttons button:hover {
    color: #B93442;
}

@media (max-width:768px) {
    .container section{
        width: 100%;
    }
}