.divPrincipal {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 60px;
    /* background: linear-gradient(#f6f8fd 0%, rgb(246 248 253) 97%, white 100%); */
    background-image: var(--imagen-fondo);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
}

.divImgBg{
    box-shadow: 0 10px 30px 2px rgb(0, 0, 0,.9);
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
}

.imgBackground {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

.buscadorDiv{
    position: absolute;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.divCategorias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.categoriah2{
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.divSeccionDeContenidos{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    padding: 12px 24px 24px;
    gap: 12px;
    margin: 16px 0;
    max-width: 1260px;
    border-radius: 10px;
}

.divSeccionDeContenidos h2{
    align-self: flex-start;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    text-align: start;
    user-select: none;
    cursor: default;
}

.divContenidoCategorias{
    max-width: 1260px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0px;
    gap: 16px;
    place-items: center;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.6);

}

.cardCategoria{
    min-width: 265px;
    width: 100%;
    max-width: 310px;
    height: 250px;
}

.divImgAuto{
    position: absolute;
    top: -16px;
    right: 20px;
}

.divImgAuto img{
    max-width: 200px;
}

.divRecomendados{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding: 32px;
    position: relative;
}

.divContenidoRecomendados{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: grid;
    box-sizing: border-box;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    padding: 16px;
    gap: 16px;
    align-self: center;
}

.cardRecomendados{
    min-width: 350px;
    width: 100%;
    max-width: 650px;
    min-height: 170px;
    max-height: 280px;
}

.skeletonDiv{
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0px;
    gap: 16px;
    place-items: center;
    background-color: rgb(246 248 253);
}

.skeletonDiv div{
    min-width: 265px;
    width: 100%;
    max-width: 310px;
    height: 250px;
}


.info {
    position: absolute; 
    top: 0;
    right: 15px;
    margin-top: 20px;
}



.info i {
    font-size: 30px;
    background-color: white;
    cursor: pointer; 
}

.info p {
  
  
    left: 0;
    top: 0;
    margin: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    opacity: 0; 
    transition: opacity 0.5s; 
    pointer-events: none; 
    
    background-color: white; 
}

.info span:hover p {
    opacity: 1; 
}

.headChat{
    position: fixed;
    bottom: 6%;
    left: 2%;
    z-index: 11;
}


@media (max-width: 1280px){

    .divSeccionDeContenidos{
        max-width: 960px;
    }

    .divContenidoCategorias {
        grid-template-columns: repeat(3, 1fr);
    }

    .skeletonDiv {
        max-width: 960px;
        grid-template-columns: repeat(3, 1fr);
    }

    .skeletonDiv div:nth-child(7){
        display: none;
    }

    .skeletonDiv div:nth-child(8){
        display: none;
    }
}

@media (max-width: 1024px) {

    .divContenidoCategorias .cardCategoria{
        min-width: 310px;
    }

    .divCategorias .divSeccionDeContenidos{
        width: 90%;
        min-width: 816px;
    }

    .categoriah2{
        width: 668px;
        padding: 0 16px;
    }

    .divContenidoCategorias {
        grid-template-columns: repeat(2, 1fr);
        max-width: 668px;
    }

    .divRecomendados .divSeccionDeContenidos{
        min-width: 816px;
    }

    .divContenidoRecomendados{
        min-width: 768px;
    }

    .divImgBg{
        height: 600px;
    }

    .skeletonDiv{
        grid-template-columns: repeat(2, 1fr);
        max-width: 668px;
        padding: 0 16px;
    }

    .skeletonDiv div{
        min-width: 310px;
    }
}

@media (max-width: 768px) {

    .divImgBg{
        height: 750px;
        min-width: 408px;
    }

    .divImgAuto{
        display: none;
    }

    .categoriah2{
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .divRecomendados h2{
        align-self: center;
    }

    .divCategorias{
        padding-top: 0;
    }

    .divCategorias .divSeccionDeContenidos{
        width: 90%;
        min-width: 408px;
    }

    .divContenidoCategorias {
        grid-template-columns: 1fr;
        min-width: 320px;
    }

    .divRecomendados{
        padding: 0;
        min-width: 392px;
    }

    .divRecomendados .divSeccionDeContenidos{
        width: 90%;
        min-width: 408px;
    }

    .divContenidoRecomendados {
        grid-template-columns: 1fr;
        min-width: 392px;
    }

    .skeletonDiv{
        grid-template-columns: 1fr;
    }

}