.divPrincipal {
    width: 90%;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 10;
}

.divContenido{
    width: 95%;
    max-width: 1280px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(0, 0, 0, .6);
    padding: 8px 8px 24px;
    z-index: 10;
    border-radius: 2px;
    gap: 4px;
}

.botonBuscar {
    background-color: #76C5EC;
    color: black;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 2px;
    margin: 0;
}

.botonBuscarDiv {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.botonBuscar:hover {
    background-color: #2275AA;
    color: white;
    cursor: pointer;
}

.botonBuscarResponsive{
    display: none;
}

.lupa, .span{
    display: none;
}

.selectores{
    display: flex;
    box-sizing: border-box;
    width: 50%;
    gap: 4px;
}

.categoria, .fechaInicio, .fechaFin, .marca{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
}

.divContenido label{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-wrap: nowrap;
}

.categoria{
    align-items: center;
    margin: 0;
    align-self: center;
}

.categoria select{
    appearance: none;
    -webkit-appearance: none;
    padding: 3px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
}

.categoria option{
    text-align: start;
    width: 95%;
}

.divContenido input{
    font-size: 18px;
    padding: 2px;
    text-align: center;
    width: 95%;
}

.resultadoBuscador{
    width: 95%;
    max-width: 1280px;
    align-self: center;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    place-items: center;
    background-color: rgb(0, 0, 0, .6);
    padding: 0px 32px;
    gap: 16px;
}

@keyframes opacidad{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.resultadoBuscador .carddt:first-child{
    animation: opacidad .0s ease 1;
}
.resultadoBuscador .carddt:nth-child(2){
    animation: opacidad .05s ease 1;
}
.resultadoBuscador .carddt:nth-child(3){
    animation: opacidad .1s ease 1;
}
.resultadoBuscador .carddt:nth-child(4){
    animation: opacidad .15s ease 1;
}
.resultadoBuscador .carddt:nth-child(5){
    animation: opacidad .05s ease 1;
}
.resultadoBuscador .carddt:nth-child(6){
    animation: opacidad .1s ease 1;
}
.resultadoBuscador .carddt:nth-child(7){
    animation: opacidad .15s ease 1;
}
.resultadoBuscador .carddt:nth-child(8){
    animation: opacidad .2s ease 1;
}
.resultadoBuscador .carddt:nth-child(9){
    animation: opacidad .1s ease 1;
}
.resultadoBuscador .carddt:nth-child(10){
    animation: opacidad .15s ease 1;
}
.resultadoBuscador .carddt:nth-child(11){
    animation: opacidad .2s ease 1;
}
.resultadoBuscador .carddt:nth-child(12){
    animation: opacidad .25s ease 1;
}

.carddt{
    height: 90px;
    width: 100%;
}

.busquedaAvanzada{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: #e1e1e1;
    padding: 0;
    position: absolute;
    bottom: -36px;
    padding: 0 4px;
    right: 0px;
    background: rgb(0, 0, 0,.7);
    gap: 8px;
}

.busquedaAvanzada h3{
    margin: 0;
    font-size: 24px;
    width: 30px;
}

.busquedaAvanzada h4{
    margin: 0;
    font-weight: 600;
    font-size: 19px;
}

.spinnerDiv{
    grid-column: 2 / 4;
    padding: 32px;
}

/* .resultadoBuscador:last-child{
    display: none;
} */


@media (max-width: 1024px) {

    .divPrincipal{
        width: 95%;
    }
    .divContenido{
        width: 100%;
    }

    .categoria, .fechaInicio, .fechaFin {
        align-items: center;
    }

    .divContenido input{
        font-size: 18px;
    }

    .categoria select{
        font-size: 18px;
        text-align: center;
    }

    .resultadoBuscador{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 32px;
    }

    /* .resultadoBuscador .carddt:nth-child(11){
        display: none;
    }
    .resultadoBuscador .carddt:nth-child(12){
        display: none;
    } */

    .resultadoBuscador .carddt:first-child{
        animation: opacidad .0s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(2){
        animation: opacidad .05s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(3){
        animation: opacidad .05s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(4){
        animation: opacidad .1s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(5){
        animation: opacidad .1s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(6){
        animation: opacidad .15s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(7){
        animation: opacidad .15s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(8){
        animation: opacidad .2s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(9){
        animation: opacidad .2s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(10){
        animation: opacidad .25s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(11){
        animation: opacidad .25s ease 1;
    }
    .resultadoBuscador .carddt:nth-child(12){
        animation: opacidad .3s ease 1;
    }

    .busquedaAvanzada h5{
        font-size: 14px;
    }

    .carddt{
        height: 80px;
    }

    .spinnerDiv{
        grid-column: 1 / 4;
        padding: 32px;
    }
}

@media (max-width: 768px){

    .botonBuscarResponsive{
        display: block;
        background-color: #76C5EC;
        color: black;
        border: none;
        width: 100px;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 2px;
        margin: 16px 8px 8px;
    }
    
    .botonBuscarResponsive:hover {
        background-color: #2275AA;
        color: white;
        cursor: pointer;
    }

    .botonBuscar{
        display: none;
    }

    .botonBuscarDiv{
        position: relative;
        margin: 0;
    }

    .span{
        display: flex;
        color: rgb(255, 255, 255,.5);
        cursor: pointer;
        position: absolute;
        right: -35px;
        bottom: 35px;
    }

    .lupa{
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        color: #e1dfdf;
        box-shadow: 0 0 8px 3px rgb(255, 255, 255,.8);
        background-color: rgb(0, 0, 0, .8);
        padding: 8px 16px;
        border-radius: 6px;
        gap: 16px;
        cursor: pointer;
        margin: 16px;
    }

    .lupa h3{
        margin: 0;
        font-size: 21px;
    }

    .divPrincipal{
        min-width: 320px;
        max-width: 520px;
        width: 90%;
    }

    .divContenido {
        flex-direction: column;
        gap: 8px;
        padding: 8px;
    }

    .selectores{
        padding-top: 8px;
        width: 100%;
    }

    .divContenido input{
        font-size: 19px;
        max-width: 220px;
    }

    .categoria select{
        font-size: 19px;
        max-width: 220px;       
    }

    .categoria option{
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .resultadoBuscador{
        grid-template-columns: repeat(2, 1fr);
        padding: 16px;
    }

    .busquedaAvanzada h5{
        font-size: 16px;
    }

    .carddt{
        height: 55px;
    }

    .carddt h4{
        font-size: 14px;
    }
}