.cardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border-radius: 3px;
    transition: transform .2s;
    overflow: hidden;

}

.cardContainer:hover{
    transform: scale(1.02);
}

.info{
    width: 100%;
    display: flex;
    background-color: rgb(0, 0, 0, .1);
    overflow: hidden;
    
}

.nombre{
    font-size: 19px;
    margin: 0;
    position: absolute;
    left: 4px;
    top: 4px;
    padding: 0 6px;
    background: rgb(0, 0, 0,.6);
    backdrop-filter: blur(15px);
    text-wrap: nowrap;

}

.categoria{
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    position: absolute;
    right: 4px;
    bottom: 4px;
    padding: 0 6px;
    background: rgb(0, 0, 0,.6);
    text-wrap: nowrap;
    text-overflow: clip;
}