.card {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 3px;

  }

  .card:hover {
    cursor: pointer;
  }
  
  .divImagen {
    min-width: 160px;
    width: 55%;
    background-position: center;
    background-size: cover;
  }

  .detalles {
    background-color: rgb(246 248 253);
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    min-width: 200px;
    width: 45%;
    padding: 12px;
  }

  .tituloCard{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 30%;
    text-align: start;
    width: 90%;
  }

  .tituloCard h3{
    margin: 0;
    font-size: 19px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: clip;

  }

  .tituloCard h4{
    margin: 0;
    font-weight: 600;
  }

  .detalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: start;
    gap: 14px;
    padding: 12px;
    width: 100%;
    height: 60%;
  }

  .span {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
    line-height: 20px;
  }

  .span span{
    width: 30px;
  }

  .span h4{
    margin: 0;
  }

  .corazon{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 25px;
  }

  .corazon img{
    background-color: rgb(246 248 253);
  }
  
  .disabledDate {
    background-color: red;
    color: black;
  }
  
  @media (max-width: 768px){

   /*  .imagen {
      width: 100%; 
      height: auto; 
      border-radius: 8px;
    } */

  }
 