.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 250px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    position: relative;
    background-color: rgb(134, 134, 134);
}

.imagenCard {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
}  

.tituloCategoriaCard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transition: height .3s ease-in;
}

.head{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  height: 30px;
}

.head h3{
    margin: 0;
    position: absolute;
    left: 16px;
    top: 14px;
    color: #e1dfdf;
    font-size: 19px;
}

.head .span{
  color: #bbbbbb;
  padding: 1% 0;
}

.verMas{
  color: #e1dfdf;
  margin: 0;
  position: absolute;
  right: 16px;
  top: 18px;
}

.head h5{
  color: #e1dfdf;
  margin: 0;
  padding: 4px 8px;
  position: absolute;
  right: 18px;
  top: -8px;
  background-color: rgb(0, 0, 0,.8);
}

.verMasCard:hover {
    background-color: #E1DFDF; 
    color: black;
}

.tituloCategoriaCard p{
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 17px;
    padding: 16px;
    overflow: hidden;
    text-overflow:ellipsis;
}