.contenedor{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    background-image: var(--imagen-fondo);
    background-size: 100%;
    background-position: initial;
}

.titulos{
    display: flex;
    box-sizing: border-box;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    padding: 32px 32px 8px;
}

.titulos h2{
    font-size: 26px;
    margin: 0;
}

.titulos span{
    align-self: center;
}

.buscadorAvanzado{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.listadoCategorias{
    min-width: 290px;
    width: 20%;
    padding: 0 16px;
    background-color: rgb(0, 0, 0,.1);
    border-radius: 5px;
}


.listadoCategorias ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

.listadoCategorias li{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
}

.listadoCategorias li h3{
    margin: 0;
    font-size: 20px;
    color: #330708;
}

.listadoCategorias li input{
    width: 30px;
}

.seccionResultados{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    width: 70%;
    margin: auto;
    padding: 16px;
}

.seccionResultadosh3{
    align-self: flex-start;
    margin: 0;
}

.seccionResultados ul{
    list-style-type: none;
    box-sizing: border-box;
    gap: 16px;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(320px, 1fr)
    );
    grid-template-rows: auto;
    place-items: center;
}

.seccionResultados ul li{
    align-self: center;
    width: 100%;
    max-width: 500px;
    height: 240px;
}


@media (max-width: 768px) {
    .buscadorAvanzado{
        flex-direction: column;
    }

    .listadoCategorias{
        width: 85%;
    }

    .seccionResultados{
        width: 90%;
    }

    .seccionResultadosh3{
        padding: 0;
    }

    .seccionResultados ul{
        padding: 0;
    }
}