.container{
    width: 100%;
    height: 100%;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.containerOpacity{
    width: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;   
    padding: 9px 14px 4px;
    gap: 6px;
}

.inputPrincipal{
    width: 100%;
    align-self: center;
    min-width: 100%;
    max-width: 100%;
    field-sizing: content;
    min-height: 78px;
    max-height: 100px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1px;
    padding: 1px 4px;
    background-color: black;
    color: white;
}

.span{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 2px;
    color: white;
}

.span span{
    cursor: pointer;
    padding: 0 4px;
    font-weight: 600;
}

.span h5{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: -4px;
}

.respuestaDiv{
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.spanRespuesta{
    font-weight: 500;
    letter-spacing: 2px;
    position: absolute;
    top: 2px;
    left: 12px;
    color: white;
}

.respuestaDiv p{
    margin: 0;
    text-align: start;
    font-weight: 500;
    text-wrap: pretty;
    padding: 2px 4px 6px;
    border-radius: 3px;
    color: white;
}

.respuestaDiv p::first-letter{
    margin-left: 26px;
}