.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    color: black;

}

.h2 {
    display: flex;
    align-self: flex-start;
    padding-left: 42px;
}

.h2 h2{
    margin-top: 32px;
    font-size: 32px;
}

.contactos {
    width: 70%;
    margin-bottom: 30px;
    
}

.contactos h4{
    font-weight: 500;
    
}

.contactos img{
    width: 40px;
    height: auto;
}

.rol {
    display: flex;
    align-items: center;
    align-self: center;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 30px;
    margin: 12px 0px;
    padding: 0px 30px;

}

.rolImagen{
    width: 5%;
    margin: 0px 20px;
    text-align: start;
}

.rolNombre{
width: 25%;
margin: 0px 20px;
text-align: start;
}

.rolEmail{
width: 45%;
margin: 0px 10px;
text-align: start;
}

.rolRol{
    width: 25%;
    margin: 0px 20px;
    text-align: start;
}

@media(max-width:768px){
    .contactos {
        width: 90%;
    }

    .rol {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        margin: 12px 0px;
        padding: 0px 20px;
    }

    .rolImagen, .rolNombre, .rolEmail, .rolRol{
        margin: 3px 0px 0px 0px;
        width: 100%;
        text-align: center;
        line-height: 14px;
        box-sizing: border-box;
        white-space: normal; 
        padding: 0;
    
    }

    .rolNombre h4, .rolEmail h4, .rolRol h4 {
        padding: 0;
        margin: 12px 0px;
    }


    .rolImagen img {
        margin-top: 5px;
    }
}