.container{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    gap: 6px;
    user-select: none;
}

.divCalendario{
    width: 50%;
    min-width: 560px;    
}

.reservaContainer{
    display: flex;
    box-sizing: border-box;
    width: 50%;
}

.userFechasDiv{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.rangoFechasDiv{
    width: 100%;
    height: 195px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
}

.rangoFechasDiv article{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.rangoFechasDiv article h4{
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: #e1dfdf;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    height: 35px;
}

.rangoFechasDiv article h3{
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 500;
    font-size: 21px;
    min-height: 45px;
}

.limpiarButton{
    color: white;
    background-color: #b93442;
    font-size: 19px;
    font-weight: 500;
    height: 35px;
}

.limpiarButton:hover{
    background-color: #952531;

}

.reservaButton{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.reservaButton button{
    font-size: 19px;
    font-weight: 500;
    padding: 13px;
    width: 170px;
    background-color: #373866;
    color: beige;
    border-radius: 5px;
}

.reservaButton button:hover{
    background-color: #191944;
}



@media (max-width: 1024px) {

    .container{
        flex-direction: column;
    }

    .divCalendario{
        width: 100%;
        min-width: 560px;    
    }
    
    .reservaContainer{
        width: 100%;
    }

    .userFechasDiv{
        width: 100%;
        flex-direction: row;
        height: auto;
    }

    .rangoFechasDiv{
        width: 60%;
    }

    .reservaButton{
        width: 40%;
        height: 60px;
        align-self: center;
    }

    .calendario{
        width: 100%;
    }
}


@media (max-width: 768px){

    .userFechasDiv{
        flex-direction: column;
    }

    .rangoFechasDiv{
        width: 100%;
    }

    .reservaButton{
        width: 100%;
    }

    .reservaButton button{
        width: 100%;
        margin: 6px 0 0;
    }

    .divCalendario{
        min-width: 290px;
    }

    .calendario{
        min-width: 290px;
    }

}