.cartaDelVehiculo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 70vh;
    padding: 16px;
    background-image: var(--imagen-fondo);
    background-size: 100%;
    background-position: initial;
}

.definicion {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 24px;
    margin-bottom: 16px;
}

.nombreCarroDiv {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: start;
    margin: 0;
}

.CarroCorazonDiv{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.definicion h2 {
    font-size: 32px;
    margin: 0;
}

.nombreCarroDivCorazon{
    align-self: start;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    min-width: 28px;
    width: 28px;
    top: 11px;
    margin-right: 14px;
}

.definicion h3 {
    margin: 0;
}

.definicion span {
    cursor: pointer;
    align-self: start;
    padding-top: 6px;
}

.cartaDelVehiculoDiv {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 85%;
    padding: 6px;
    margin-bottom: 48px;
    align-self: center;
    max-width: 1380px;

}

.imagenes {
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border: 6px solid black;
}

.imgPrincipal {
    width: 50%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.imgPrincipal img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .4s ease;
}

.imgPrincipal img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.imagenes article {
    display: grid;
    box-sizing: border-box;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    padding: 6px;
    gap: 6px;
    margin: 0;
    background-color: #e1dfdf;
}

.imagenes article div {
    width: 100%;
    display: flex;
    aspect-ratio: 1.4/1;
    overflow: hidden;
}

.imagenes article img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .4s ease;
}

.imagenes article img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.descripcion {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #e1dfdf;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
}

.descripcion p {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0px 16px;
    align-self: flex-start;
    text-align: start;
    font-size: 18px;
    text-wrap: pretty;
}

.caracteristicas {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
}

.caracteristicas ul {
    align-self: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 560px;
    margin-left: 12%;
}

.caracteristicas ul section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
}

.caracteristicas ul li {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 2px 8px;
}

.caracteristicas span {
    width: 10%;
    font-size: 20px;
}

.caracteristicas p {
    width: 90%;
    font-size: 20px;
}

.calendar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

/************************ queries ***********************/

@media (max-width: 1024px) {
    .imagenes {
        flex-direction: column;
    }

    .imgPrincipal {
        width: 100%;
        min-height: 75%;
    }

    .imagenes article {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .caracteristicas ul {
        max-width: 460px;
    }

    .cartaDelVehiculoDiv{
        width: 90%;
    }
}

@media (max-width: 768px) {
    .imgPrincipal {
        width: 100%;
        min-height: 75%;
    }

    .imagenes article {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .caracteristicas ul {
        margin-left: 5%;
    }

    .caracteristicas p {
        font-size: 18px;
    }

}