.boundary{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 5%;
}

.boundary h1{
    margin: 2rem 0 .5rem;
    color: #373866;
}

.boundary a{
    align-self: flex-end;
    text-decoration: underline;
    color: #373866;
    font-size: 16px;
}

.boundary img{
    width: 400px;
    margin: 2rem;
}