.divPrincipal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    color: black;
}

/* .divTitulo{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
} */

.divTituloFlecha {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
}

.titulo{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    user-select: none;
}

.titulo h2 {
    margin: 0;
    cursor: pointer;
    position: relative;
}

.titulo h2:active{
    top: 1px;
}

.corazones{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
}

.corazones img{
    width: 20px;
}

.listado{    
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    background-color: rgb(255, 255, 255, .6);
}

.listado p{
    font-size: 19px;
    font-weight: 500;
    font-style: oblique;
    align-self: start;
}

.listado ul{
    min-width: 360px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(360px, 1fr)
    );
    grid-template-rows: auto;
    list-style-type: none;
    padding: 0;
    gap: 24px;
}

.corazon1{
    animation: bounce .4s 7 ease-in;
}
.corazon2{
    animation: bounce .4s 7 ease-in .15s;
}
.corazon3{
    animation: bounce .4s 7 ease-in .3s;
}
.corazon4{
    animation: bounce .4s 7 ease-in .45s;
}
.corazon5{
    animation: bounce .4s 7 ease-in .6s;
}
.corazon6{
    animation: bounce .4s 7 ease-in .75s;
}

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.12);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes jump {
    0%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}
