.galeriaContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeriaContainerDiv{
    position: relative;
    min-width: 650px;
    min-height: 210px;
    width: 50%;
    max-height: 80%;
    background: rgba(0, 0, 0, .9);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 6px;
}

.galeriaImgDiv{
    width: 100%;
    display: flex;
    overflow: hidden;
    max-height: 72vh;
}

.galeriaImgDiv img{
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}

.galeriaContainerDiv span{
    position: absolute;
    display: flex;
    color: white; 
    top: 0; 
    right: -38px;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

@media (max-width:768px) {
    .galeriaContainerDiv{
        width: 80%;
        min-width: 320px;
    }
}