.container{
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    user-select: none;
}

.chatContainer{
    background-color: rgb(24, 24, 24);
    width: 300px;
    z-index: 2;
    border-radius: 3px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 24px;
}

.mensajeInfo{
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 10px;
    margin: 0;
    border-radius: 3px;
}

.container img{
    filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .8));
    transition: filter .3s ease;
    cursor: pointer;
    animation: suspension 35s infinite, shadow 5s infinite;
}

@keyframes suspension {
    
    0%{
        transform: translateY(0px);
    }
    5%{
        transform: translateY(5px);
    }
    10%{
        transform: translateY(0px);
    }
    15%{
        transform: translateY(5px);
    }
    20%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(0px);
    }
}

@keyframes shadow {
    
    0%{
        filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .8));
    }
    25%{
        filter: drop-shadow(0px 10px 20px rgb(0, 0, 0, .8));
    }
    50%{
        filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .8));
    }
    75%{
        filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .8));
    }
}