.estiloHeader{
    display: flex;   
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    width: 100%;
    height: 140px;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
    background-color: white;
    color: #373866;
    user-select: none;
}

.imagenLogo{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 130px;
    align-items: center;
    position: relative;
    padding: 14px 24px 0px;
}
.imagenLogo .logoHeader{
    width: 160px;
    cursor: pointer;
}
.estiloHeader h2{
    max-width: 55%;
    font-size: 26px;
    margin: 0;
    text-wrap: pretty;
}
.estiloHeader h2:hover{
    cursor: pointer;
}

.section{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 100px;
}

.usersIcons{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    gap: 6px;
}

.usersIconsDiv{
    display: flex;
    box-sizing: border-box;
}

.imagenBoton{
    height: 35px;
}

.section img{
 width: 35px;
 cursor: default;
}

.section button{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    text-align: start;
    color: #373866;
    font-size: 16px;
    text-wrap: nowrap;
}

.section button:hover{
    color: #B93442;
}

.avatar{
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-right: 12px;
}

.saludoUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 8px;
    margin-right: 16px;
    margin-top: 2px;
}

.saludoUsuario h5{
    font-size: 21px;
    margin: 0;
}

.saludoUsuario h6{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.avatarh3{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(55, 56, 102);
    color: white;
    min-width: 55px;
    max-width: 55px;
    height: 55px;
    z-index: 3;
    box-shadow: 0 0 14px 0px rgb(55, 56, 102,.9);
    transition: filter .25s ease;
}

.avatarh3:hover{
    filter: drop-shadow(5px 0px 10px rgb(55, 56, 102,.8));
}

.avatar .userOptions{
    position: absolute;
    top: 28px;
    right: 28px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: start;
    background-color: rgb(255, 255, 255,.9);
    border: 2px solid #e1dfdf;
    color: #373866;
    border-radius: 8px 38px 8px 8px;
    transition: all .1s ease-in-out;
    z-index: 2;
    padding: 8px;
}

.userOptions ul{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.userOptions ul li{
    width: 100%;
}

.userOptions h4{
    font-size: 19px;
    padding: 4px;
    margin: 0;
}

.userOptions ul li:hover{
    background-color: rgb(55, 56, 102,.4);
    cursor: pointer;
}

.userOptions ul li:first-child{
    background: transparent;
    cursor: default;
    border-bottom: 2px solid #373866;
    margin-bottom: 8px;
    width: 75%;
}

.links {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30px;
    
    gap: 40px;
    padding: 0px 40px;
}

.links a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #373866;
}
.links a:hover{
    color: #B93442;
}


.responsive{
    display: none;
}

@media(max-width:1024px){
    .estiloHeader h2{
        max-width: 50%;
        font-size: 24px;
    }
}

@media(min-width:768px){
    .avatar{
        display: none;
    }
}

@media(max-width:768px){

    .estiloHeader{
        height: 80px;
    }

    .imagenLogo{
        justify-content: center;
        padding: 14px 24px;
    }

    .imagenLogo .logoHeader{
        position: absolute;
        width: 110px;
    }

    .avatar{
        position: absolute;
        right: 14px;
        top: 14px
    }

    .avatarh3{
        min-width: 50px;
        max-width: 50px;
        height: 50px;
    }

    .avatar .userOptions{
        top: -8px;
        right: -8px;
    }

    .avatar .userOptions h4{
        font-size: 21px;
    }

    .circulo0{
        display: flex;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 4px;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: rgb(55, 56, 102,.1);
        box-shadow: 0 0 8px 3px rgb(55, 56, 102,.9);
        transition: transform .2s ease;
        z-index: 2;
        padding: 4px 7px 8px 1px;
    }

    .circulo0 span{
        position: absolute;
        top: .57rem;
        left: .57rem;
        color: rgb(55, 56, 102,.8);
    }

    .links{
        display: none;
    }

    .section .usersIcons{
        display: none;
    }
    
    .responsive{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      position: absolute;
      left: 24px;
      top: 15px;
      border-radius: 5px;
    }

    .burguer{
        background-color: white;
        box-shadow: 0 0 6px 0px #373866;
        cursor: pointer;
        padding: 14px 14px 11px;
        border-radius: 5px;
    }
    .burguer i{
        color: #373866;
    }
    .elMenu{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0 0 5px 0px #373866;
        border-radius: 0 5px 0 0;
        margin-top: 7px;
        color: #373866;
    }
    
    .elMenu ul{
        min-width: 220px;
        box-sizing: border-box;
        list-style-type: none;
        padding: 0;
        text-align: start;
        background-color: rgb(255, 255, 255,.9);
        margin: 0;
        border-radius: 0 5px 0 0;
        transition: all .2s ease-in-out;
    }
    .elMenu ul div{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    .elMenu h3{
        font-weight: 500;
        font-size: 19px;
        margin: 0;
        cursor: pointer;
    }
    .elMenu li{
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 40px;
        padding: 4px 16px;
    }
    .elMenu li:first-child{
        border-radius: 0 5px 0 0;
    }
    .elMenu li:hover{
        background-color: rgb(187, 187, 187)
    }

    .estiloHeader .usersIcons, .saludoUsuario, .panelAdminItem{
        display: none;
    }

    .estiloHeader h2{
        display: none;
    }


}









