.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 60vh;
    color: black;
    margin: 0;
    padding: 0px;
    margin-bottom: 32px;
}

.divTituloFlecha {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
}

.divTituloFlecha h2{
  margin: 0;
}

.minimalistBlack {
    border: 1px solid #000000;
    width: 90%;
    text-align: left;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255, 0.6);
  }

  table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 3px 3px;
  }
  
  table.minimalistBlack tbody td {
    font-size: 13px;
  }

  table.minimalistBlack thead {
    background-color: rgb(0, 0, 0, .2);

  }
  
  table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
  }
