.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    color: black;

}

.h2 {
    display: flex;
    align-self: flex-start;
    padding-left: 42px;
}

.h2 h2{
    margin-top: 32px;
    font-size: 32px;
}

.nosotros {
    width: 90%;
    display: flex;

}

.imagen {
    width: 30%;
}

.imagen img{
    width: 90%;
    height: auto;

}

.texto {
    width: 70%;
    padding: 0px 10px;
    text-align: justify;
    font-weight: 500;
    margin-bottom: 40px;
    background-color:  rgba(255, 255, 255, 0.5);
}

@media(max-width:768px){
    .imagen img{
        display: none;
    }

    .texto {
        width: 100%;
    }

    .imagen {
        display: none;
    }
}