.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 70vh;
    color: black;
    margin: 0px 0px 50px 0px;
    padding: 0;
}

.divTituloFlecha {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 0px 0px 32px;
}

.divInfoReservas h2 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
}

.divPrincipalReservas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    gap: 25px;

}

.divInfoReservas {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(0, 0, 0, .1);
    padding: 8px;


}

.divInformacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;

}

.divInformacion h2 {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.detalles {
    height: 200px;
}

.detalles h3,
.divInformacion h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 5px 15px;

}

.caracteristicas {
    margin: 0;
    padding: 0px 0px 0px 15px;
    height: 200px;
}

.caracteristicas ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

.imagenes {
    grid-column: 1 / span 2;
    margin: 10px 0px 0px 0px;

}

.imagenesDiv {
    width: 170px;
    height: 120px;
    overflow: hidden;
    padding: 10px 5px;

}

.imagenesDiv img {
    object-fit: cover;
    padding: 10px 5px;
}

.divBotonReserva{
    width: 100%;
    height: 57%;
    background-color: rgb(0, 0, 0, .1);
    padding-top: 10px;
}

.divBotonReserva h3{
    text-align: center;
    
}


.divButton{
    margin-top: 10;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.divButton button{
    font-size: 14px;
    font-weight: 500;
    padding: 9px;
    margin-top: 10px;
    width: 190px;
    background-color: #373866;
    color: beige;
    border-radius: 3px;
}

.divInformacionUsuario{
    width: 100%;
    height: 37%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255, 0.6);
}

@media(max-width:1024px){
    .divPrincipalReservas{
        flex-direction: column;
    }
    
    .divInfoReservas{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .caracteristicas ul{
        padding-left: 10%;
    }

    .divInformacion {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .divInformacionUsuario{
        box-sizing: border-box;
    }

    .divButton{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:768px){
    .caracteristicas ul{
        grid-template-columns: repeat(2, 1fr) ;
        padding-left: 25%;
    }


}