.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 60vh;
    color: black;
    margin: 0;
    padding: 0px;
}

.container h1{
    margin: 40px 20px 20px;
    font-size: 20px;
    text-wrap: pretty;
}

.container h2{
    margin: 0px;
    font-size: 18px;
    
}

.container h3{
    font-size: 16px;
    margin: 15px;
}

.containerFechas{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.containerFechaInicio{
    width: 300px;
    background-color: rgb(255, 255, 255, .6);
    border: black solid 0.6px;
}

.containerFechaFin{
    width: 300px;
    background-color: rgb(255, 255, 255, .6);
    border: black solid 0.6px;
}

.divA {
    background-color: #373866;
    border-radius: 3px;
    color: beige;
    font-size: 14px;
    font-weight: 600;
    padding: 9px;
    margin: 50px;
    width: 100px;
    text-decoration: none;
}

@media (max-width: 768px) {
    
    .containerFechas{
        flex-direction: column;
    }
}