.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    width: 100%;
}

.container input{
    text-align: start;
}

.container ul {
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    background-color: white;
    width: 98%;
    max-height: 190px;
    top: 38px;
    z-index: 100;
    overflow-y: scroll;
    border-radius: 3px;
    text-align: start;
}

.container ul li {
    box-sizing: border-box;
    width: 100%;
    cursor: default;
    padding: 0px 3px;
    font-size: 18px;
    margin: 0;
}

.container ul li:hover {
    color: white;
    background-color: #2275AA;
    
}


@media (max-width: 768px) {
    .container ul{
        max-width: 225px;
    }
}