.loadingImage{
    height: 100%;
    width: 100%;
    background: #ececec;

    background-image: linear-gradient(left, #ececec 0%, #fafafa 15%, #ececec 30%);
    background-image: linear-gradient(left, #ececec 0%, #fafafa 15%, #ececec 30%);
    background-image: linear-gradient(90deg, #ececec 0%, #fafafa 15%, #ececec 30%);
    background-size: 265px;
    -webkit-animation: shine-loading-image 2s infinite ease-out;
            animation: shine-loading-image 2s infinite ease-out;
}

@-webkit-keyframes shine-loading-image {
    0% {
      background-position: -32px;
    }
    40%, 100% {
      background-position: 265px;
    }
}