.divPrincipal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    color: black;
}

.divTituloFlecha {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
}

.divPrincipal h2 {
    margin: 0;
}

.divCaracteristicas {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1vw 0;
    margin-bottom: 3vw;
}

.divCaracteristicas h4 {
    margin: 0;
    padding: 2vw 0 2vw 10vw;
    width: 50%;
    height: 2.8vw;
    text-align: left;
    font-size: 22px;
    box-sizing: border-box;
    color: #5f5f5f;
}

.divCaracteristicas h3 {
    margin: 0;
    padding: 2vw 0;
    width: 50%;
    height: 2.8vw;
    text-align: left;
    font-size: 22px;
    box-sizing: border-box;
    color: black;
}

.divNombre,
.divApellido,
.divEmail,
.divRol {
    display: flex;
    flex-direction: row;

}

.avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    text-align: start;
    border: none;
    color: #373866;
    margin-bottom: 3vw;
}

.avatar h3 {
    display: flex;
    margin: 0;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, .8);
    color: #373866;
    padding: 25px;
    z-index: 3;
    box-shadow: 0 0 30px 2px #373866;
}


@media (max-width: 1024px) {

    .divNombre,
    .divApellido,
    .divEmail,
    .divRol {
        flex-direction: column;
    }

    .divCaracteristicas h4, .divCaracteristicas h3 {
        text-align: center;
        width: 100%;
        height: auto;
        padding: 1.6vw 0;
    }

    .divCaracteristicas{
        width: 80%;
        margin: 4vw 0;
    }
}